
html, body {
    height: 98%; /* IMPORTANT!!! stretches viewport to 100% */
}

#main {
    min-height: 100%; /* min. height for modern browser */
    height:auto !important; /* important rule for modern Browser */
    height:100%; /* min. height for IE */
    overflow: hidden !important; /* FF scroll-bar */
}

table{
border-collapse:collapse;
}
table, td, th
{
border:1px solid black;
}

td, th
{
text-align:left;
padding: 3px;
}

div.message
{
color:red;
}

#accountInfo, dt
{
font-size:1.05em;
}

div.contentBox
{
text-align: left;
align:left;
border-style: solid;
border-width: 1px;
margin:5px;
padding-left:3px;
}

div.contentBoxHeader
{
background-color:#00CCFF;
max-width: 50%;
text-align: left;
margin: 2px;
border-style:solid;
border-width:1px;
font-size:1.09em;
}

div.warning
{
text-align: left;
color:red;
margin:0px;
}

.success
{
text-align: left;
color:green;
font-size:1.18em;
display:none;
}
.failure
{
text-align: left;
color:red;
font-size:1.18em;
display:none;
}

.downloadLink
{
border-style:dashed;
border-width:1px;
padding:1px;
margin:1px;
margin-left:3px;
background-color:#00CCFF;
font-family:sans-serif;
text-decoration:none;
}

.downloadLink:hover
{
background-color:#66FFFF;
border-style:solid;
}

.clickable
{
border-style:dashed;
border-width:3px;
padding:2px;
margin:1px;
background-color:#00CCFF;
font-family:sans-serif;
}

.clickable:hover
{
background-color:#66FFFF;
border-style:solid;
}

